* {
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.main-title {
    color: white;
}

.main-body {
    width: 40%;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.form {
    position: absolute;
    border-radius: 1%;
    z-index: 50;
    top: 25%;
    right: 33%; 
    background-color: rgba(49, 0, 64, 0.3);
    height: 50%;
    width: 30%;
}

.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #430444;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.form button:hover, .form button:active, .form button:focus {
    background: #430432;
}

@media only screen and (max-width: 800px) {
    .form {
        width: 100%;
        right: 0;
    }
}

.container {
    padding: 2rem 0rem;
}

.modal-dialog {
    margin-top: 0rem;
    max-width: 100%;
}

.modal-content {
    border-radius: 0rem;
}

.buttons .btn{
    margin: 0.2rem;
}

.cookies {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    z-index: 60;
    top: 10%;
    padding: 5rem;
    height: 50vh;
    width: 25%;
}

.cookies .buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.cookies .buttons button {
    border: none;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    padding: 15px;
    background: #430432;
}